body {
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(120deg, #f0c3d7, #ffffff);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.deck {
    background-color: darkred; /* Scenario Buttons */
    color: white;
    padding: 16px 8px;
    margin: 0 5px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    width: 125px;
    height: 10px;
}

.deck:hover {
    transform: scale(1.05);
}

.hidden {
    display: none;
}

#scenario-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.scenario-box {
    background-color: #4a90e2; /* After selecting scenario category */
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 250px;
    height: 150px;
    margin-right: 20px; /* Added margin for spacing */
}

.response-cards {
    background-color: navy;
    color: white;
    width: 105px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#response-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

